form {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 10px;
    min-width: 400px;
}

label {
    font-size: 16px;
    margin-right: 10px;
    align-self: center;
}

input {
    padding: 5px;
}

select {
    padding: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 5px 10px;
    font-size: 16px;
}