<div class="container">
  <h2>Todo List</h2>

  <form>
    <div>
      <label for="onlyDone">Done:</label>
      <select (change)="changeDoneFilter()" name="onlyDone" #doneFilter>
        <option value="all">All</option>
        <option [value]="onlyUnfinishedOptionValue">Only unfinished</option>
      </select>
    </div>
    <div>
      <label for="assignedTo">Assigned To:</label>
      <select (change)="changeAssignedToFilter()" name="assignedTo" #assignedToFilter>
        <option value="">All</option>
        @for (assignee of todoStore.assignees(); track $index) {
        <option [value]="assignee">{{ assignee }}</option>
        }
      </select>
    </div>
    <button (click)="add()">Add</button>
  </form>

  <main>
    @if (todoStore.isLoading()) {
    <div class="loading">Loading...</div>
    } @else if(todoStore.error()) {
    <div class="error">
      <div>{{ todoStore.error() }}</div>
      <button (click)="refresh()">Retry</button>
    </div>
    } @else if (todoStore.todos().length > 0) {
    <ul>
      @for (todo of todoStore.todos(); track todo.id) {
      <li>
        <input type="checkbox" [checked]="todo.done" (change)="toggleTodo(todo)" />
        <span>{{ todo.title }} ({{ todo.assignedTo }})</span>
        <span (click)="edit(todo)">✏️</span>
      </li>
      }
    </ul>
    }
  </main>

  <dialog #addDialog>
    <app-todo-form [todo]="todoFormInput()" (saved)="formSaved($event)" (canceled)="formCancled()"></app-todo-form>
  </dialog>
</div>
