.filter-section {
  margin-bottom: 20px;
  margin-top: 20px;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-list li .done {
  color: green;
}