<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">Responsive navbar</a>

		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed.set(!isMenuCollapsed())">&#9776;</button>

		<div [ngbCollapse]="isMenuCollapsed()" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" routerLink="/tic-tac-toe" (click)="isMenuCollapsed.set(true)">TicTacToe</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" routerLink="/number-guessing" (click)="isMenuCollapsed.set(true)">Number&nbsp;Guessing</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<router-outlet />
